<app-header></app-header>

<!-- show my transaction history -->
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h5 class="text-center text-info">Transaction History</h5>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Transaction ID</th>
                        <th>Crypto</th>
                        <th>Amount</th>
                        <th>Price</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Bitcoin</td>
                        <td>0.5</td>
                        <td>$ 10,000</td>
                        <td>12-12-2018</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Ethereum</td>
                        <td>5</td>
                        <td>$ 1,000</td>
                        <td>12-12-2018</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Ripple</td>
                        <td>100</td>
                        <td>$ 0.5</td>
                        <td>12-12-2018</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
