<ngx-spinner type="ball-scale-multiple"></ngx-spinner>

<div class="container mt-5 mb-5">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-6">
            <div class="card px-5 py-5">
                <form [formGroup]="loginForm" (ngSubmit)="login()">
                    <h4 class="mt-1 text-center">
                        <img src="assets/img/logo.png" alt="Logo" class="logo">
                    </h4>

                    @if (errors.length > 0) { @for (error of errors; track error) {

                    <ul class="list-group">
                        <li class="list-group-item list-group-item-danger">
                            {{ error }}
                        </li>
                    </ul>

                    } }


                    <!-- Email input -->
                    <div class="input-group mt-3">
                        <i class="fa fa-envelope"></i>

                        <input type="email" class="form-control" placeholder="Email address" formControlName="email" required>

                    </div>

                    @if (isValidInput('email')) {

                    <div class="alert alert-danger">
                        @if (loginForm.controls['email'].errors.required) { Email is required. } @if (loginForm.controls['email'].errors.pattern) { Must be a valid email format. }
                    </div>
                    }


                    <!-- Password input -->
                    <div class="input-group mt-3">
                        <i class="fa fa-lock"></i>

                        <input type="password" class="form-control" placeholder="Password" formControlName="password" required>

                    </div>

                    @if (isValidInput('password')) {

                    <div class="alert alert-danger">
                        @if (loginForm.controls['password'].errors.required) { Password is required. }
                    </div>
                    }

                    <button [disabled]="!loginForm.valid" type="submit" class="w-100 btn btn-lg btn-primary signup mt-4">Login</button>

                    <div class="text-center mt-3">
                        <a>Forgot password?</a>
                    </div>

                    <div class="text-center mt-3">
                        <a [routerLink]="['/register']">Don't have an account? Register</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
