<app-header></app-header>

<!-- show table showing cryto information -->
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">

            <!-- align h5 center -->
            <h5 class="text-center text-info">Transaction Information</h5>

            <table class="table table-striped">
                <!-- caption -->
                <thead>
                    <tr>
                        <th>transactionId</th>
                        <th>transactionType</th>
                        <th>amount</th>
                        <th>accountNumber</th>
                        <th>status</th>
                        <th>createdAt</th>
                        <th>modifiedAt</th>
                    </tr>
                </thead>
                <tbody>
                <tr *ngFor='let transaction of transactions'>
                  <td>{{transaction.transactionId}}</td>
                  <td>{{transaction.transactionType}}</td>
                  <td>{{transaction.amount}}</td>
                  <td>{{transaction.accountNumber}}</td>
                  <td>{{transaction.status}}</td>
                  <td>{{transaction.createdAt}}</td>
                  <td>{{transaction.modifiedAt}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
