<!-- navbar with collapse -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand ml-5" href="#">Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse mr-3" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="['/home']">Overview</a>
            </li>
            <!-- dropdown for transfers -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Transactions
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/trans-history']"> Transaction History</a>
                    <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/trans-credit']"> Credit Account
                    </a>
                    <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/trans-debit']"> Debit Account
                    </a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active">Account Information</a>
            </li>
            <!-- profile info dropdown with logout -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <!-- account icon -->
                    <i class="fa fa-user mr-2"></i> Hi, {{ auth.getUsername() }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item">
                        <i class="fa fa-user"></i> Profile
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item pointer" (click)="logout()">
                        <i class="fa fa-sign-out"></i> Logout
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<!-- show crypto balance in div -->
<div class="container mt-5 text-center">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body" >
                    <h6 class="card-subtitle mb-2 text-muted">Your current balance</h6>
                    <h1 class="card-text">2500 BTC</h1>
                </div>
            </div>
        </div>
        <div class="col-md-6 mt-5">
            <img src="assets/img/logo.png" alt="Logo" class="logo">
        </div>
    </div>

</div>
