<app-header></app-header>

<!-- form to transfer an account -->
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="text-center text-info">Transfer</h5>
                    <form [formGroup]="transferForm" (ngSubmit)="transferAccount()">

                        <!-- source account number -->
                        <div class="input-group mt-3">
                            <i class="fa fa-user input-group-text"></i>
                            <input type="text" class="form-control" placeholder="Source Account Number" formControlName="sourceAccountNumber" required>
                        </div>

                        @if (isValidInput('sourceAccountNumber')) {
                        <div class="alert alert-danger">
                            @if (transferForm.controls['sourceAccountNumber'].errors.required) { Source account number is required. }
                        </div>

                        }

                        <!-- destination account number -->
                        <div class="input-group mt-3">
                            <i class="fa fa-user
                            input-group-text"></i>
                            <input type="text" class="form-control" placeholder="Destination Account Number" formControlName="destinationAccountNumber" required>
                        </div>

                        @if (isValidInput('destinationAccountNumber')) {
                        <div class="alert alert-danger">
                            @if (transferForm.controls['destinationAccountNumber'].errors.required) { Destination account number is required. }
                        </div>
                        }

                        <div class="input-group mt-3">
                            <i class="fa fa-dollar input-group-text"></i>
                            <input type="number" class="form-control" placeholder="Amount" formControlName="amount" required>
                        </div>

                        @if (isValidInput('amount')) {
                        <div class="alert alert-danger">
                            @if (transferForm.controls['amount'].errors.required) { Amount is required. }
                        </div>
                        }

                        <button [disabled]="!transferForm.valid" type="submit" class="w-100 btn btn-lg btn-primary signup mt-4">Transfer</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
