.fa-envelope,
.fa-lock {
    padding: 10px;
}

.input-group {
    border: 1px solid black;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.logo {
    width: 90%;
    margin-top: -40px;
}
